* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  background: #1d3044;
  width: 100%;
  height: 60px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem 1rem;
  position: fixed;
  font-size: 1.4rem;
  z-index: 2000;
}

header a{
  color: #fff;
  text-decoration: none;
}
header a:hover{
  color: chocolate;
  text-decoration: none;
}

footer {
  background: #1d3044;
  width: 100%;
  height: 60px;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table{
  width: 100%;
  border: 1;
  margin-top: 0.5rem;
}
table tr td{
  height: 40px;
  padding-left: 0.3rem;
}

main {
  padding: 6rem 0rem;
  background-color: #9de4d9;
}
section {
  text-align: center;
  font-size: 1.1rem;
  max-width: 500px;
  padding: 5rem 1.2rem 1.2rem 1.2rem;
  width: 100%;
  border: 2px solid #1d3044;
  margin: auto;
  background-color:#fff;
  box-shadow: 5px 4px #1d3044;
  border-radius: 2rem;
}
h1 {
  padding-bottom: 3rem;
}
button {
  padding: 0rem 0.5rem;
  width: 250px;
  height: 34px;
  border-radius: 6px;
  background: #1d3044;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
button:hover {
  background: chocolate;
  color: #fff;
}
@media screen and (max-width:510px){
  
  button {
    padding: 0rem 0.5rem;
    width: 200px;
    height: 34px;
  }
  section {
    text-align: center;
    font-size: 1rem;
    max-width: 500px;
    padding: 5rem 1rem 1.2rem 1rem;
    width: 100%;
  }
  footer{
    font-size: 0.8rem;
  }
}